<ion-header>
  <app-header title="Ver plan"></app-header>
</ion-header>

<ion-content>
  @if (dataIsLoaded) {
    <ion-list>
      @if (paidDetails.length > 0) {
        <ion-list-header>
          <ion-label>Abonos realizados</ion-label>
        </ion-list-header>
        <ng-container
          *ngTemplateOutlet="showDetailItem; context:{$implicit: paidDetails}"
        ></ng-container>
      }
      @if (pendingDetails.length > 0) {
        <ion-list-header>
          <ion-label>Abonos pendientes</ion-label>
        </ion-list-header>
        <ng-container
          *ngTemplateOutlet="showDetailItem; context:{$implicit: pendingDetails}"
        ></ng-container>
      }
    </ion-list>
  }
</ion-content>

<ng-template #showDetailItem let-details>
  @for (detail of details; track detail) {
    <ion-item
      [color]="detail.saving_made === 0 ? 'medium' : 'light'"
      >
      <ion-label>
        <h1>Cuota {{ detail.quota_number }}</h1>
        <h2>Tarifa {{ detail.fee | currency }}</h2>
        <p>Fecha {{ detail.saving_date | date: "dd/MM/yyyy" }}</p>
      </ion-label>
    </ion-item>
  }
</ng-template>
